<div class="sidebar">

  <!-- Logo -->
  <div class="logo">
    <img
      src="assets/recruithub-sidebar-logo.png"
      alt="RecruitHub"
      class="brand-logo"
    />
  </div>


  <!-- Navigation -->
  <div class="menu">

    <!-- Dashboard -->
    <a
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="menu-item"
    >
      <span class="icon">⌂</span>
      <span>Dashboard</span>
    </a>


    <!-- Candidates -->
    <a
      routerLink="/candidates"
      routerLinkActive="active"
      class="menu-item"
    >
      <span class="icon">👥</span>
      <span>Candidates</span>
    </a>


    <!-- Jobs -->
    <a
      routerLink="/jobs"
      routerLinkActive="active"
      class="menu-item"
    >
      <span class="icon">💼</span>
      <span>Jobs</span>
    </a>


    <!-- Interviews -->
    <a
      routerLink="/interviews"
      routerLinkActive="active"
      class="menu-item"
    >
      <span class="icon">📅</span>
      <span>Interviews</span>
    </a>


    <!-- Analytics -->
    <a
      routerLink="/analytics"
      routerLinkActive="active"
      class="menu-item"
    >
      <span class="icon">📊</span>
      <span>Analytics</span>
    </a>


    <!-- Settings -->
    <a
      routerLink="/settings"
      routerLinkActive="active"
      class="menu-item"
    >
      <span class="icon">⚙</span>
      <span>Settings</span>
    </a>

  </div>


  <!-- Sidebar Bottom -->
  <div class="sidebar-bottom">

    <!-- Upgrade Card -->
    <div class="upgrade-card">

      <p>Upgrade your plan</p>

      <span>
        Unlock more features
      </span>

      <button type="button">
        Upgrade
      </button>

    </div>


    <!-- User Profile -->
    <div class="user-profile">

      <div class="avatar">
        KS
      </div>

      <div>
        <h4>Khushbu Singh</h4>
        <span>Administrator</span>
      </div>

    </div>

  </div>

</div>