<div class="sidebar">
  <div class="logo">
    <div class="logo-icon">T</div>
    <span>TalentFlow</span>
  </div>

  <div class="menu">

    <a
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="menu-item"
    >
      <span class="icon">⌂</span>
      <span>Dashboard</span>
    </a>

    <a
      routerLink="/candidates"
      routerLinkActive="active"
      class="menu-item"
    >
      <span class="icon">👥</span>
      <span>Candidates</span>
    </a>

    <a
      routerLink="/jobs"
      routerLinkActive="active"
      class="menu-item"
    >
      <span class="icon">💼</span>
      <span>Jobs</span>
    </a>

    <a
      routerLink="/interviews"
      routerLinkActive="active"
      class="menu-item"
    >
      <span class="icon">📅</span>
      <span>Interviews</span>
    </a>

    <a
      routerLink="/analytics"
      routerLinkActive="active"
      class="menu-item"
    >
      <span class="icon">📊</span>
      <span>Analytics</span>
    </a>

    <a
      routerLink="/settings"
      routerLinkActive="active"
      class="menu-item"
    >
      <span class="icon">⚙</span>
      <span>Settings</span>
    </a>

  </div>

  <div class="sidebar-bottom">
    <div class="upgrade-card">
      <p>Upgrade your plan</p>
      <span>Unlock more features</span>
      <button>Upgrade</button>
    </div>

    <div class="user-profile">
      <div class="avatar">KS</div>

      <div>
        <h4>Khushbu Singh</h4>
        <span>Administrator</span>
      </div>
    </div>
  </div>
</div>